<div class="footer-wrapper">
    <div class="footer-section f-section-1">
        <p class=""><span class="dynamic-year">2023©</span> <a target="_blank" href="/">Pizza Vendo</a></p>
    </div>
    <div class="footer-section f-section-2">
        <p class=""><a href="#">Facebook Page</a></p>
    </div>
</div>